body {
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-size: 21px;
    
}

.container {
    width: 70%;
    margin: 0 auto;
}

img {
    border-radius: 30px;
    width: 50%;
    
}

h1, h2, h3 {
    font-weight: 300;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 25px;
  
}

.small-text {
    font-size: 18px;
}

#h1-80px {
    font-size: 60px;
    font-weight: 700;
}

a {
    color: lightseagreen;
    text-decoration: none;
}

a:hover,
a:focus {
    color: darkcyan;
}


.section-one,
.section-two,
.section-three {
    padding: 100px 0px 100px 0px;
}

.section-one {
    background-color: #E1F2FB;
}

.section-two {
    background-color: #F1F9F9;
}

.section-three {
    background-color: #F3DFE3;
}