body {
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-size: 21px;
    margin: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
}

img {
    border-radius: 40px;
    width: 50%;
    border: solid whitesmoke 10px;
}

h1, h2, h3 {
    font-weight: 300;
}

h1 {
    font-size: 40px;
    margin-top: 0;
}

h2 {
    font-size: 30px;
    margin-top: 0;
}

h3 {
    font-size: 25px;
    margin-top: 0;
  
}

.small-text {
    font-size: 18px;
    margin-top: 5px;
}

#h1-80px {
    font-size: 60px;
    font-weight: 700;
}

p{
    margin-bottom: 0;
}

a {
    color: #385170;
    text-decoration: none;
}

a:hover,
a:focus {
    color: #142D4C;
}


.section-one,
.section-two,
.section-three {
    padding: 100px 0px 100px 0px;
}

.section-one {
    background-color: #E1F2FB;
}

.section-two {
    background-color: #F1F9F9;
}

.section-three {
    background-color: #F3DFE3;
}

.button {
    display: block;
    color: whitesmoke;
    background-color: #142D4C;
    padding: 10px;
    border-radius: 15px;
    width: 20%;
    margin: 0 auto;
    margin-top: 20px;
}

.button:hover {
    display: inline-block;
    color: #142D4C;
    background-color: whitesmoke;
    padding: 10px;
    border-radius: 15px;
    width: 20%;
    margin: 0 auto;
    margin-top: 20px;
}