body {
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-size: 21px;
}

.container {
    width: 570px;
    margin: 0 auto;
}

img {
    border-radius: 30px;
    width: 50%;
    
}

h1, h2, h3 {
    font-weight: 300;
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 42px;
}

h3 {
    font-size: 36px;
  
}

.small-text {
    font-size: 18px;
}

#h1-80px {
    font-size: 80px;
    font-weight: 700;
}